body {
    background-image: url(../images/greyfloral_@2X.png);
    
}
#board {
    text-align: center;
    color: blueviolet;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.jumbotron {
    background-color: blueviolet;
}